<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTS</title>
    <style>
        body{margin: 0;padding: 0;background-color: white; }
        section { width: 100%; height: 100vh; background-size: cover;}
        section .leftBox { width: 50%; height: 100%; float: left; padding: 50px; box-sizing: border-box;}
        section .leftBox .content {color: #fff;background: rgb(35, 139, 35); padding: 50px; transition: .5s;}
        section .leftBox .content:hover {background:rgb(34, 139, 34);}
        section .leftBox .content h1 {margin: 0;padding: 0;font-size: 50px;text-transform: uppercase;}
        section .leftBox .content p {margin: 30px 0 0; padding: 0; font-size: 25px;}
        section .events {position: relative; width: 50%; height: 100%; background: black; float: right; box-sizing: border-box;}
        section .events ul {position: absolute;top: 50%;transform: translateY(-50%); margin: 0; padding: 40px; box-sizing: border-box;}
        section .events ul li { list-style: none; background: #fff; box-sizing: border-box; height: 200px; margin: 15px 0;}
        section .events ul li .time {position: relative; padding: 20px; background: rgb(53, 51, 51); box-sizing: border-box; width: 30%; height: 100%; float: left; text-align: center; transition: .5s;}
        section .events ul li:hover .time {background:rgb(34, 139, 34);}
        section .events ul li .time h2 {position: absolute; margin: 0;padding: 0;top: 50%;left: 50%;transform: translate(-50%, -50%);color: #fff; font-size: 20px;line-height: 30px; font-weight: bolder;}
        section .events ul li .details {padding: 20px;background: #fff;box-sizing: border-box;width: 70%;height: 100%; float: left;}
        section .events ul li .details h3 {position: relative; margin: 0; padding: 0; font-size: 22px;}
        section .events ul li .details p {position: relative;margin: 10px 0 0;padding: 0;font-size: 20px;}
        section .events ul li .details a {display: inline-block;text-decoration: none;padding: 10px 15px;border: 1.5px solid #262626;margin-top: 8px;font-size: 18px;transition: .5s;}
        section .events ul li .details a:hover {background: rgb(34, 139, 34);color: #fff;border-color: rgb(34, 139, 34);}
    </style>

</head>
<body>
    <section>
        <div class="leftBox">
            <div class="content">
                <h1>
                    Events and Shows
                </h1>
                <p>
                    Join us for an exciting monthly gathering of automotive enthusiasts at Taco's & Car's Tuesdays! This event is a celebration of our love for cars and delicious tacos. Every second Tuesday of the month, our community of car lovers will be pulling up to different taco shops to showcase their rides, share stories, and enjoy some mouthwatering tacos.
                </p>
            </div>
        </div>
        <div class="events">
            <ul>
                <li>
                    <div class="time">
                        <h2>
                            6pm-9pm
                        </h2>
                    </div>
                    <div class="details">
                        <h3>
                            Taco's & Car's Tuesdays
                        </h3>
                        <p>
                            Every 2nd Tuesday of the month our members will be pulling up to different taco shops to showcase their rides and enjoy some good food.  Come hang out and talk cars with us.
                        </p>
                    </div>
                    <div style="clear: both;"></div>
                </li>
                <li>
                    <div class="time">
                        <h2>
                            9pm-12am 
                        </h2>
                    </div>
                    <div class="details">
                        <h3>
                            First Saturday
                        </h3>
                        <p>
                            Our members head out for private canyon or city night drives on First Saturday of each month. Join us! Text (909) 653-7327 for more info!
                        </p>
                    </div>
                    <div style="clear:both;"></div>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>
</body>
</html>