<!DOCTYPE html>

<html lang="en">
<head>
<title>Defined Auto Design</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
<div class="w3-bar w3-black w3-card">
<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
<a class="w3-bar-item w3-button w3-padding-large" href="{{ url_for('home') }}">HOME</a>
<a class="w3-bar-item w3-button w3-padding-large w3-hide-small" href="javascript:void(0);" onclick="myFunction('services')">SERVICES</a>
<a class="w3-bar-item w3-button w3-padding-large w3-hide-small" href="javascript:void(0);" onclick="myFunction('contact')">CONTACT</a>
<a class="w3-bar-item w3-button w3-padding-large" href="{{ url_for('get_quote') }}">GET QUOTE</a>
<a class="w3-bar-item w3-button w3-padding-large" href="{{ url_for('appointments') }}">BOOK APPOINTMENT</a>
<div class="w3-dropdown-hover w3-hide-small">
<button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
<div class="w3-dropdown-content w3-bar-block w3-card-4">
<a class="w3-bar-item w3-button" href="{{ url_for('apparel') }}">Apparel</a>
</div>
</div>
<div class="w3-bar w3-center w3-hide-small">
<img src="static/images/logo3.png" alt="Defined Auto Design Logo" style="max-height:100%; width:auto;">
</div>

<a class="w3-padding-large w3-hover-red w3-hide-small w3-right" href="javascript:void(0)"><i class="fa fa-search"></i></a>
</div>
</div>
<!-- Navbar on small screens -->
<div class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" id="navDemo" style="margin-top:46px">
<a class="w3-bar-item w3-button w3-padding-large" href="{{ url_for('home') }}">HOME</a>
<a class="w3-bar-item w3-button w3-padding-large" href="#services" onclick="myFunction()">SERVICES</a>
<a class="w3-bar-item w3-button w3-padding-large" href="#contact" onclick="myFunction()">CONTACT</a>
<a class="w3-bar-item w3-button w3-padding-large" href="#" onclick="myFunction()">MERCH</a>
<a class="w3-bar-item w3-button w3-padding-large" href="{{ url_for('get_quote') }}">GET QUOTE</a>
<a class="w3-bar-item w3-button w3-padding-large" href="{{ url_for('appointments') }}">BOOK APPOINTMENT</a>
</div>
<!-- About Us content -->
<div class="w3-content" style="max-width:2000px;margin-top:200px">
<div class="w3-container w3-content w3-center w3-padding-64" id="about" style="max-width:800px">
<h2 class="w3-wide">ABOUT US</h2>
<p class="w3-opacity"><i>We love cars</i></p>
<p class="w3-justify">At Defined Auto Design, we're more than just a car wrap shop, we're automotive enthusiasts with a deep passion 
        for transforming vehicles into stunning works of art. Located in the heart of Colton, California, our team is dedicated to pushing 
        the boundaries of car customization through our expertise in car wrapping and window tinting. With a keen eye for detail and a 
        commitment to quality craftsmanship, we take pride in giving your vehicle a unique and head-turning look. Our journey started from 
        a genuine love for cars, and today, we're here to make your automotive dreams a reality. Join us in the pursuit of automotive 
        excellence, where every car becomes a canvas and every ride tells a story.</p>
<div class="w3-row w3-padding-32">
<div class="w3-third">
<img alt="Random Name" class="w3-round w3-margin-bottom" src="static/images/IMG_5600.jpg" style="width:90%"/>
</div>
<div class="w3-third">
<img alt="Random Name" class="w3-round w3-margin-bottom" src="static/images/IMG_5602.jpg" style="width:90%"/>
</div>
<div class="w3-third">
<img alt="Random Name" class="w3-round" src="static/images/IMG_9582.jpg" style="width:90%"/>
</div>
</div>
</div>
<!-- The Services Section -->
<div class="w3-black" id="services">
<div class="w3-container w3-content w3-padding-64" style="max-width:800px">
<h2 class="w3-wide w3-center">SERVICES</h2>
<p class="w3-opacity w3-center"><i>We do everything cars!</i></p><br/>
<ul class="w3-ul w3-border w3-white w3-text-grey">
<li class="w3-padding">Wrap <span class="w3-tag w3-red w3-margin-left"></span></li>
<li class="w3-padding">Window Tint <span class="w3-tag w3-red w3-margin-left"></span></li>
</ul>
<!-- Automatic Slideshow Images -->
<div class="mySlides w3-display-container w3-center w3-margin-bottom">
<img src="static/images/IMG_9579.jpg" style="max-height:800px"/>
</div>
<div class="mySlides w3-display-container w3-center w3-margin-bottom">
<img src="static/images/IMG_5600.jpg" style="max-height:800px"/>
</div>
<div class="mySlides w3-display-container w3-center w3-margin-bottom">
<img src="static/images/IMG_5602.jpg" style="max-height:800px"/>
</div> 
<div class="mySlides w3-display-container w3-center w3-margin-bottom">
  <img src="static/images/IMG_9582.jpg" style="max-height:800px"/>
  </div>

<div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
</div> 
</div>
</div>
<!-- The Contact Section -->
<div class="w3-container w3-content w3-padding-64" id="contact" style="max-width:800px">
  <h2 class="w3-wide w3-center">CONTACT</h2>
  <div class="w3-row w3-padding-32">
      <div class="w3-col m12 w3-large w3-margin-bottom" style="text-align: center;">
          <i class="fa fa-map-marker" style="width:30px"></i> Colton, California<br/>
          <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br/>
          <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br/>
      </div>
  </div>
    <a href="/get-quote" class="w3-button w3-light-green w3-section w3-center" style="text-align: center;">Get Quote</a>
  <!--
    <div class="w3-row w3-padding-32">
      <div class="w3-col m12 w3-large w3-margin-bottom" style="text-align: center;">
          <button class="w3-button w3-light-green w3-padding-large w3-large" onclick="location.href='#quoteForm'">Get Quote</button>
      </div>
  </div> -->
  <!-- 
    <a href="/get-quote" class="w3-button w3-black w3-section">Get Quote</a>
  -->
</div>
<!-- End Contact Section -->

</div>
<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
<i class="fa fa-youtube w3-hover-opacity"></i>
<i class="fa fa-instagram w3-hover-opacity"></i>
<i class="fa fa-twitter w3-hover-opacity"></i>
</footer>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
