<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/appointments.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
  </head>
</head>
<body>

	<div class="navbar">
		<nav>
		  <ul>
			<!-- Update URLs for Flask routing -->
			<li><a href="{{ url_for('home') }}" class="nav-link glowing-btn">Home</a></li>
			<li><a href="{{ url_for('get_quote') }}" class="nav-link glowing-btn">Get Quote</a></li>
			<li><a href="{{ url_for('appointments') }}" class="nav-link glowing-btn">Book Appointment</a></li>
			<li><a href="{{ url_for('apparel') }}" class="nav-link glowing-btn">Apparel</a></li>
		  </ul>
		</nav>
	  </div>
<div class="centered-container" >
<form action="reservation.php" method="post">
	<div class="elem-group">
		<div class="centered-container2">
	  <label for="name">Your Name</label></div>
	  <input type="text" id="name" name="visitor_name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required>
	</div>
	<div class="elem-group">
		<div class="centered-container2">
	  <label for="email">Your E-mail</label></div>
	  <input type="email" id="email" name="visitor_email" placeholder="john.doe@email.com" required>
	</div>
	<div class="elem-group">
		<div class="centered-container2">
	  <label for="phone">Your Phone</label></div>
	  <input type="tel" id="phone" name="visitor_phone" placeholder="498-348-3872" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
	</div>
	<div class="elem-group">
		<div class="centered-container2">
		<label for="make">Car Make And Model
		</label></div>
		<input type="tel" id="make" name="visitor_make" placeholder="Toyota Camry 2021 SE" pattern=(\d{3})-?\s?(\d{3})-?\s?(\d{4}) required>
	  </div>
	<hr>
	<div class="elem-group inlined">
		<div class="centered-container2">
	  <label for="checkin-date">Check-in Date</label>
	  <input type="date" id="checkin-date" name="checkin" required>
	</div>
	</div>
	<div class="elem-group">
		<div class="centered-container2">
	  <label for="service-selection">Select Service Type</label>
	</div>
	  <select id="service-selection" name="service_preference" required>
		  <option value="">Choose a Service from the List</option>
		  <option value="wrap">Wrap</option>
		  <option value="tint">Window Tint</option>
		  <option value="ceramic">Ceramic Window Tint</option>
	  </select>
	</div>
	<hr>
	<div class="elem-group">
	  <label for="message">Wrap Color and Tint Percentage?</label>
	  <textarea id="message" name="visitor_message" placeholder="Tell us what color and finish you want if you choose wrap. Or what tint percentage if you choose tint." required></textarea>
	</div>
	<div class="centered-container pad">
	<button type="submit">Book Appointment</button>
	</div>
  </form>
</div>
<script src="scripts.js"></script>
</body>
</html>