<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get a Quote | Defined Auto Design</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quotestyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="navbar">
        <nav>
          <ul>
            <!-- Update URLs for Flask routing -->
            <li><a href="{{ url_for('home') }}" class="nav-link glowing-btn">Home</a></li>
            <li><a href="{{ url_for('get_quote') }}" class="nav-link glowing-btn">Get Quote</a></li>
            <li><a href="{{ url_for('appointments') }}" class="nav-link glowing-btn">Book Appointment</a></li>
            <li><a href="{{ url_for('apparel') }}" class="nav-link glowing-btn">Apparel</a></li>
          </ul>
        </nav>
      </div>
    
    <div class="request1">
    <h1>Request a Quote</h1>
    </div>
    <form action="{{ url_for('submit_quote') }}" method="post">
        <label for="serviceType">Service Type:</label>
        <input type="text" id="serviceType" name="serviceType" required><br>

        <label for="vehicleMake">Vehicle Make:</label>
        <input type="text" id="vehicleMake" name="vehicleMake" required><br>

        <label for="vehicleModel">Vehicle Model:</label>
        <input type="text" id="vehicleModel" name="vehicleModel" required><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="number">Phone Number:</label>
        <input type="tel" id="number" name="number" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <input type="submit" value="Submit">
    </form>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
